@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="mt-4 container shadow-sm p-3 bg-body rounded bg-white text-center">
    <div class="col-12 fs-3">
        <label for="">審核部門:</label>
            @switch (ViewBag.memberType)
            {
                case 0:
                    <label for="">UI/UX</label>
                    break;
                case 1:
                    <label for="">前端</label>
                    break;
                case 2:
                    <label for="">後端</label>
                    break;
            }
    </div>
</div>
<div class="mt-4 container shadow-sm p-3 bg-body rounded bg-white text-center">
    <div class="col-12 fs-2">
        <label for="">請假申請紀錄</label>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">申請人</th>
                <th scope="col">假別</th>
                <th scope="col">申請日</th>
                <th scope="col">開始日</th>
                <th scope="col">結束日</th>
                <th scope="col">狀態</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.leaveList != null && ViewBag.leaveList.Count > 0)
            {
                @foreach (var item in ViewBag.leaveList)
                {
                    <!-- 拿來foreach -->
                    <tr>
                        <th scope="row">@item.name</th>
                        <td>
                            @switch (item.leaveType)
                            {
                                case 0:
                                    <span>特休</span>
                                    break;
                                case 1:
                                    <span>事假</span>
                                    break;
                                case 2:
                                    <span>病假</span>
                                    break;
                                case 3:
                                    <span>生理假</span>
                                    break;
                            }
                        </td>
                        <td>@item.applyTime</td>
                        <td>@item.startTime</td>
                        <td>@item.endTime</td>
                        <td>
                            <a href="@Url.Action("Index","CheckLeavePerson", new { leaveOrder_id = item.leaveOrder_id })">
                                <button type="button" class="btn btn-primary">未核准</button>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>  
</div>