<div class="container mt-3">
    <div class="p-4 ">
        <table class="table table-striped">
            <colgroup>
                <!-- 每个<col>元素指定一个列的宽度 -->
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 10%;">
                <col style="width: 35%;">
                <col style="width: 35%;">
            </colgroup>

            <thead class="table-light">
                <tr>
                    <th>姓名</th>
                    <th>部門</th>
                    <th>職等</th>
                    <th>信箱</th>
                    <th>電話</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var i in ViewBag.Emp_List)
                {
                    string Depa;
                    string Pition;
                    switch (i.Depart)
                    {
                        case 0:
                            Depa = "UI/UX";
                            break;
                        case 1:
                            Depa = "前端";
                            break;
                        case 2:
                            Depa = "後端";
                            break;
                        default:
                            Depa = "無";
                            break;
                    }

                    switch (i.Ption)
                    {
                        case 0:
                            Pition = "員工";
                            break;
                        case 1:
                            Pition = "主管";
                            break;
                        default:
                            Pition = "無";
                            break;
                    }
                    
                    <tr>
                        <td>@i.Name</td>
                        <td>@Depa</td>
                        <td>@Pition</td>
                        <td>@i.Mail</td>
                        <td>@i.Phone</td>
                </tr>     
                };
               
            </tbody>

        </table>

    </div>
</div>
